.bg-head{

}
.header-filter::before{
  background: 0;
}
@media (max-width: 992px) {
  .top {
    top: -27px !important;
  }
}

@media (max-width: 992px) {
  .nav-mobile {
    display: contents !important;
  }
}
@media (max-width: 992px) {
  .h1-mobile {
    font-size: 2.3125rem !important;
  }
}
@media (max-width: 992px) {
  .cont-border {
    border-bottom: 1px solid #dee2e6 !important;
    padding-bottom: 0.5rem !important;
  }
}
